/* Ao passar o mouse: ... */

.colunas:hover {
    cursor: pointer;
    animation: brightSelection 0.5s ease-in-out;
    animation-iteration-count: infinite;
    /* Chama a animação 'brightSelection', estipula o tempo de duração que ela vai ocorre e como será feito o loop */
}

.colunas:active {
    cursor: pointer;
    border: 10px ridge rgb(165, 46, 46);
    /* Chama a animação 'brightSelection', estipula o tempo de duração que ela vai ocorre e como será feito o loop */
}

#instrucoes:hover {
    cursor: pointer;
}