/*Keyframes são métodos que descrevem as animações usadas no projeto */

/* Animação gerada ao passar o mouse sobre a coluna */

@keyframes brightSelection {
    0% {
        border: 15px #AA3939 ridge;
    }
    50% {
        border: 15px rgb(163, 100, 100) ridge;
    }
    100% {
        border: 15px #AA3939 ridge;
    }
}

@keyframes continueText {
    0% {
        color: midnightblue;
    }
    50% {
        color: red;
    }
    100% {
        color: midnightblue;
    }
}

/* Animação da sombra do titulo "LIG4" */

@keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

@keyframes brightBorderTurnBlue {
    0% {
        border: 10px DarkSlateGray ridge;
        background-color: Gainsboro;
    }
    50% {
        border: 10px LightSlateGray ridge;
        background-color: LightSlateGray;
    }
    100% {
        border: 10px DarkSlateGray ridge;
        background-color: Gainsboro;
    }
}

@keyframes brightBorderTurnRed {
    0% {
        border: 10px #AA3939 ridge;
        background-color: lightcoral;
    }
    50% {
        border: 10px rgb(240, 35, 35) ridge;
        background-color: darksalmon;
    }
    100% {
        border: 10px #AA3939 ridge;
        background-color: lightcoral;
    }
}