.resultado {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(0, 26, 255);
    text-shadow: black 3px;
}

body {
    background-color: black;
}

#maisQueTudo {
    position: relative;
    margin:1rem auto;

    background-color: cornsilk;
    height: 800px;
    width: 1100px;
    border: 10px ridge #313A75;
    /* Boda: tamanho, estilo, cor */
    animation: brightBorder 6s ease-in-out;
    animation-iteration-count: infinite;
    /* Chama a animação 'brightSelection', estipula o tempo de duração que ela vai ocorre e como será feito o loop */
    border-radius: 30px;
    /* Arredondamento da borda */
    padding: 10px;
    /* Espaçamento interno */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centralização das DIVs */
}

#title {
    font-family: 'Monofett', cursive;
    font-size: 10em;
    color: black;
    text-shadow: #474747 3px 5px 2px;
    /* Adiciona sombra */
    display: flex;
    animation: brightText 3s ease-in-out;
    animation-iteration-count: infinite;
    /* Chama a animação 'brightText', estipula o tempo de duração que ela vai ocorre e como será feito o loop */
}

#timer1 {
    
    position: absolute;
    display: block;
    top: 1rem;
    left: 3rem;

    font-size: 50px;
    font-family: 'Bungee Inline', cursive;
    line-height: 250%;
    text-align: center;
   
    height: 120px;
    width: 220px;
    background-color: white;
    border: 10px ridge DarkSlateGray;
    /* Boda: tamanho, estilo, cor */
    border-radius: 30px;
    /* Arredondamento da borda */
    padding: 10px;
    /* Espaçamento interno */
}

#timer2 {
    
    position: absolute;
    display: block;
    top: 1rem;
    left: 50rem;
    
    font-size: 50px;
    font-family: 'Bungee Inline', cursive;
    line-height: 250%;
    text-align: center;

    height: 120px;
    width: 220px;
    background-color: white;
    border: 10px ridge #AA3939;
    /* Boda: tamanho, estilo, cor */
    border-radius: 30px;
    /* Arredondamento da borda */
    padding: 10px;
    /* Espaçamento interno */
}

.creators {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1em;
    text-align: center;
}

#tudo {
    display: flex;
}

.colunas {
    display: flex;
    flex-direction: column-reverse;
    /* Joga as peças de baixo para cima  */
    width: 80px;
    height: 500px;
    border: 15px rgb(42, 42, 42) ridge;
}

#coluna1 {
    background: linear-gradient(to right, #313A75, #B0E0E6  , #313A75);
    /* Adiciona o efeito gradiente no fundo da coluna 1  */
    border-top-left-radius: 20px;
    /* Efeito arredondado na borda superior-esquerda da coluna 1 */
    border-bottom-left-radius: 20px;
    /* Efeito arredondado na borda inferior-esquerda da coluna 1 */
}

#coluna2 {
    background: linear-gradient(to right, #313A75, #B0E0E6  , #313A75);
    /* Adiciona o efeito gradiente no fundo da coluna 2  */
}

#coluna3 {
    background: linear-gradient(to right, #313A75, #B0E0E6  , #313A75);
    /* Adiciona o efeito gradiente no fundo da coluna 3  */
}

#coluna4 {
    background: linear-gradient(to right, #313A75, #B0E0E6  , #313A75);
    /* Adiciona o efeito gradiente no fundo da coluna 4  */
}

#coluna5 {
    background: linear-gradient(to right, #313A75, #B0E0E6  , #313A75);
    /* Adiciona o efeito gradiente no fundo da coluna 5  */
}

#coluna6 {
    background: linear-gradient(to right, #313A75, #B0E0E6  , #313A75);
    /* Adiciona o efeito gradiente no fundo da coluna 5  */
}

#coluna7 {
    background: linear-gradient(to right, #313A75, #B0E0E6  , #313A75);
    /* Adiciona o efeito gradiente no fundo da coluna 6  */
    border-top-right-radius: 20px;
    /* Efeito arredondado na borda superior-direita da coluna 6 */
    border-bottom-right-radius: 20px;
    /* Efeito arredondado na borda inferior-direita da coluna 6 */
}

.colunas>div {
    display: flex;
    flex-direction: column-reverse;
    /* Joga as peças de baixo para cima  */
    width: 100%;
    height: 100%;
}

#disco {
    width: 70px;
    height: 70px;
    display: flex;
    margin: 0 auto;
    -webkit-animation: disco 1s (11);
    animation: disco 650ms steps(11);
}
@-webkit-keyframes disco{
    from{background-position: 0px;}
    to{background-position: -770px;}
}
@keyframes disco{
    from{background-position: 0px;}
    to{background-position: -770px;}    
}

#instrucoes {
    visibility: visible;

    height: 470px;
    width: 710px;
    background-color: rgba(126, 126, 126, 0.7);
    position: absolute;
    display: block;
    top: 12rem;
    left: 11rem;

    padding: 30px;
    border-radius: 20px;

    color: black;
    font-size: 30px;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
}

#continue{
    animation: blinker 0.5s ease-in-out;
    animation-iteration-count: infinite;
}

#vitoriaP1 {
    visibility: hidden;

    height: 530px;
    width: 770px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: block;
    top: 12rem;
    left: 11rem;
    border-radius: 20px;
    color: honeydew;
    font-size: 50px;
    font-family: 'Bungee Inline', cursive;
    line-height: 1000%;
    text-align: center;
}

#vitoriaP1:after {
    background: linear-gradient(to right, DarkSlateGray 25%, DarkSlateGray 25%, SlateGray 50%, LightSlateGray 50%, LightGray 75%, LightGray 75%);
    position: absolute;
    content: '';
    height: 20px;
    right: 0;
    left: 0;
    top: 12rem;
}

#vitoriaP1:before {
    background: linear-gradient(to right, LightGray 25%, LightGray 25%, SlateGray 50%, LightSlateGray 50%, DarkSlateGray 75%, DarkSlateGray 75%);    position: absolute;
    content: '';
    height: 20px;
    right: 0;
    left: 0;
    top: 18rem;
}

#vitoriaP2 {
    visibility:hidden;

    height: 530px;
    width: 770px;
    background-color: rgba(125, 0, 0, 0.7);
    position: absolute;
    display: block;
    top: 12rem;
    left: 11rem;
    border-radius: 20px;
    color: honeydew;
    font-size: 50px;
    font-family: 'Bungee Inline', cursive;
    line-height: 1000%;
    text-align: center;
}

#vitoriaP2:after {
    background: linear-gradient(to right, DarkRed 25%, DarkRed 25%, SlateGray 50%, LightSlateGray 50%, LightGray 75%, LightGray 75%);
    position: absolute;
    content: '';
    height: 20px;
    right: 0;
    left: 0;
    top: 12rem;
}

#vitoriaP2:before {
    background: linear-gradient(to right, LightGray 25%, LightGray 25%, SlateGray 50%, LightSlateGray 50%, DarkRed 75%, DarkRed 75%);
    position: absolute;
    content: '';
    height: 20px;
    right: 0;
    left: 0;
    top: 18rem;
}

.tune {
    display: none;
}